<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/defaultlayout">
  
<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
<form action="/notice" method="post">
	<input type="text" placeholder="제목을 입력하세요" name="title" class="title" value="${BoardData.title}">
	<span>${valid_title}</span><br>
	<input type="text" placeholder="내용을 입력하세요" name="content" class="content" value="${BoardData.content}">
	<span>${valid_content}</span><br>
	<input type="submit" value="입력하기">
</form>
</th:block>
</html>