<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/defaultlayout">

<head><title>공지사항</title></head>

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
<h1>글 상세보기</h1>
	
<h2 th:text="${BoardData.title}"></h2>

<p th:text="${BoardData.content}"></p>


<th:block sec:authorize="hasRole('ADMIN')">
	<button onclick="'location.href=\''+@{/admin/notice/{seq} (seq=${BoardData.seq})}+'\''">수정</button>
	<form th:action="@{/notice/{seq} (seq=${BoardData.seq})}" th:method="post">
		<input th:type="hidden" name="_method" value="delete">
		<button th:type="submit">삭제</button>
	</form>
</th:block>

<button th:if="${param.page}==null" th:onclick="'window.location.href=\'' + @{/notice} +'\''">목록</button>
<button th:unless="${param.page}==null" th:onclick="'window.location.href=\'' + @{/notice (page=${param.page})} +'\''">목록</button>


</th:block>
</html>