<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
<div class="wrap">
	<div class="inner">
	<div class="logo">
	<a href="/"><img src="/img/logo.jpg">
	<strong>도봉 나들가게 협동 조합</strong></a>
	</div>
	
		<nav id="menu">
			<ul>
				<li><a href="/"><strong>홈</strong></a></li>
				<li><a href="#1"><strong>소개</strong></a></li>
				<li><a href="/notice"><strong>공지사항</strong></a></li>
				<li><a href="#3"><strong>게시판</strong></a></li>
				<li><a href="#4"><strong>갤러리</strong></a></li>
				<li><a href="/member"><strong>멤버채팅(0)</strong></a></li>
				
				<li id="loginmenu">
						<span sec:authorize="isAnonymous()">
						<a href="/login">로그인</a>
						</span>
					
					<span sec:authorize="isAuthenticated()">
					<label sec:authentication="principal.username"></label> 님
					<span sec:authorize="hasRole('ADMIN')">
					<a href="/admin">관리자</a>
					</span>
					<a href="">내 정보</a>
					<form th:method="post" th:action="@{/logout}">
						<input type="submit" value="로그아웃">
					</form>
					</span>
				</li>
			</ul>
		</nav>
	</div>
</div>
</header>


<footer th:fragment="footer" class="wrap">
	<div class="inner">
		<div class="fo_content">
			<p>오류시 문의 : rhdiddl9911@gmail.com</p>
		</div>
	</div>
</footer>